.octo {
	display: block;
	margin: auto;
	margin-top: 100px;
}
.glasses {
	display: block;
	margin: auto;
	margin-top: none;
	position: absolute;
}
.hat {
	display: block;
	margin: auto;
	margin-top: none;
	position: absolute;
}
.red {
  color: red;
}